<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>{% block title %}Beezyweb{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />      
        
        <script type="text/javascript" src="{{ asset('bundles/public/assets/js/jquery.min.js')}}"></script> 
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <style>
            

* {
  box-sizing: border-box;
}

body {
  font: 16px Arial;  
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}


input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}





/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
</style>
    </head>
    <body class="landing">
        <!-- Header -->
        {% block header %}{% endblock %}
        <!-- Page -->
        <div id="page-wrapper">                
            <div id="main" class="wrapper style1">                     
                <div class="container">
                    <div class="logo"><span class="icon fa-diamond"></span></div>
                    <!-- Contenu -->
                    <section id="contenu">
                        <div>
                        {% block contenu %}{% endblock %}
                        </div>
                    </section>
                </div>
            </div>
        </div>            
        <!-- Footer -->
        <footer id="footer">
            <p>
                &copy; NOUMIA KEWOU. All rights reserved. 2015-{{ 'now'|date('Y') }}
            </p>
        </footer>       
        <script type="text/javascript" src="{{ asset('bundles/public/bootstrap/js/bootstrap.min.js')}}"></script>
        
        <script type="text/javascript" src="{{ asset('bundles/public/js/toTop/js/easing.js')}}"></script> 
        <script type="text/javascript" src="{{ asset('bundles/public/js/toTop/js/jquery.ui.totop.js')}}"></script>
        <script type="text/javascript" src="{{ asset('bundles/public/js/toTop/js/launch.js')}}"></script>
        
        <script type="text/javascript" src="{{ asset('bundles/public/assets/js/skel.min.js')}}"></script> 
        <script type="text/javascript" src="{{ asset('bundles/public/assets/js/jquery.scrolly.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('bundles/public/assets/js/jquery.dropotron.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('bundles/public/assets/js/jquery.scrollex.min.js')}}"></script>        
        <script type="text/javascript" src="{{ asset('bundles/public/assets/js/util.js')}}"></script>        
        <script type="text/javascript" src="{{ asset('bundles/public/assets/js/main.js')}}"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
        <script src="{{ asset('bundles/user/js/Inscription.js')}}"></script>
        <script src="{{ asset('bundles/user/js/message_fr.js')}}"></script>              
    </body>
</html>
