{% extends "PriveeBundle:Privee:index.html.twig" %}



{% block header %}
        <header id="header" class="alt">
        <div id="div_logo">
            <h1 id="logo"><a href="{{path("Admin_accueil")}}"><img src="{{ asset('bundles/public/assets/css/images/logo.jpg')}}" alt="logo" height="60" width="60"/></a></h1>
        </div>          
            <!-- Menu -->
            {% block menu %}
                <nav>                                                            
                    <a href="{{path("fos_user_security_logout")}}"  id="deconnexionBouton">Deconnexion</a>                    
                </nav>  
            {% endblock %}        
        </header>        
{% endblock %}

{% block contenu %}
    <h2 class="major">Administration Beezyweb</h2>

    <div>
        <a href="{{path("Admin_clients")}}">Les clients</a>
        <a href="{{path("Admin_moniteurs")}}">Les moniteurs</a>        
    </div>
{% endblock contenu %}