{% extends "PublicBundle:Public:index.html.twig" %}

{% block header %}
        <header id="header" class="alt">
        <div id="div_logo">
            <h1 id="logo">
                <a href="{{path("Privee_accueil")}}">
                    <img src="{{ asset('bundles/public/assets/css/images/logo.jpg')}}" title="Accueil" alt="logo" height="60" width="60"/>
                </a>
            </h1>
        </div>          
            <!-- Menu -->
            {% block menu %}
                <nav id="nav">
                    <a href="{{path("Privee_accueil")}}">Accueil</a>
                    <a href="{{path("Privee_calendrier")}}">Calendrier</a>
                    <a href="{{path("fos_user_profile_edit")}}">Paramètres</a>
                    <a href="{{path("fos_user_security_logout")}}"  id="deconnexionBouton">Deconnexion</a>                    
                </nav>  
            {% endblock %}        
        </header>        
{% endblock %}


{% block contenu %}       
    <div id="mesInfosCompte">
        <h3>Mes réservations</h3>
        <div id="mesResa">            
            <ul>            
                {% set iter=1 %} 
                {% for resa in user.reservations %}               
                    {% if resa.dateReservation > date() %}                                                      
                    <li class="idResa">                    
                        {% if resa.etatReservation=="Valider" %}
                           <p class="numResaValider">{{iter}}</p>
                        {% else %}
                            <p class="numResaReserver">{{iter}}</p>
                        {% endif %}

                        <p class="dateResaShow">{{ fortmatDate(resa.dateReservation)}} </p>
                        <a class="annuleResa" id="{{resa.id}}"><img src="{{ asset('bundles/public/assets/css/images/cancel.jpg')}}" alt="Annuler" title="Annuler" height="20" width="20"/></a></td>
                    </li>
                        {% set iter=iter + 1 %}                                                        
                    {% endif %}
                {% endfor %}
                {% if iter==1 %}
                    <li>Vous n'avez pas de réservations en cours</li>
                {% endif %}
            </ul>            
        </div>
        <h3 id="mesInfosTitre">Mes informations</h3>
        <ul id="mesInfosPerso">
            <li id="infosKey">
                <ul>                           
                    <li>Solde </li>
                    <li>Jeton (s)</li>
                    <li>Identité</li>
                    <li>Email</li>
                    <li>Téléphone</li>
                </ul>
            </li>
            <li id="infosValue">
                <ul>                           
                    <li>{{ user.money}} €  </li>
                    <li>{{ user.solde}}</li>
                    <li>{{ user.prenom}} {{ user.nom }}</li>
                    <li>{{ user.email }}</li>
                    <li>0{{ formatPhone(user.telephone) }}</li>
                </ul>
            </li> 
        </ul>      
    </div>
            
    <script>
        $(".annuleResa").click(function(){
            idResa=$(this).attr('id');
            annuler(idResa);
        });
        
        function annuler(idResa){            
            $.ajax({
                type:"POST",
                url:"{{ (path('Privee_annuler'))}}",
                data:{idResa:idResa},
                success: function (data) {                    
                }
            });
        }
        
        $(document).ajaxStop(function(){
            window.location.reload();
        });
    </script>
    
    <script>
        $(document).ready(function(){
          $('.menu-tab').click(function(){              
            $('.menu-hide').toggleClass('show');
            $('.menu-tab').toggleClass('active');
          });
          $('a').click(function(){
            $('.menu-hide').removeClass('show');
            $('.menu-tab').removeClass('active');
          });
        });        
    </script>
    
    

{% endblock contenu %}