{% extends "PriveeBundle:Privee:index.html.twig" %}

{% block header %}
        <header id="header" class="alt">
        <div id="div_logo">
            <h1 id="logo">
                <a href="{{path("Moniteur_accueil")}}">
                    <img src="{{ asset('bundles/public/assets/css/images/logo.jpg')}}" title="Accueil" alt="logo" height="60" width="60"/>
                </a>
            </h1>
        </div>          
            <!-- Menu -->
            {% block menu %}
                <nav id="nav">
                    <a href="{{path("Moniteur_accueil")}}">Accueil</a>
                    <a href="{{path("Moniteur_calendrier")}}">Calendrier</a>
                    <a href="{{path("fos_moniteur_profile_edit")}}">Paramètres</a>
                    <a href="{{path("fos_user_security_logout")}}"  id="deconnexionBouton">Deconnexion</a>                    
                </nav>  
            {% endblock %}        
        </header>        
{% endblock %}

{% block contenu %}   
    <div id="mesInfosCompte">
        <table>
            <th>Mes informations</th>
            <tr><td>Statut</td><td>Moniteur</td></tr>            
            <tr><td>Identité</td><td>{{ user.prenom}} {{ user.nom }}</td></tr>
            <tr><td>Email</td><td>{{ user.email }}</td></tr>
            <tr><td>Téléphone</td><td>0{{ formatPhone(user.telephone) }}</td></tr>
        </table>      
    </div>
{% endblock contenu %}